:root {
    --brand-color-main: #2E2F42;
    --brand-color-submain: #434455;
}

/**
  |============================
  | Reset
  |============================
*/

a {
    text-decoration: none;
    font-style: normal;
}
ul, ol {
    list-style-type: none;
}

/**
  |============================
  | Common styles
  |============================
*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    line-height: 1.5;
}
h2, h3 {
    color: var(--brand-color-main);
}

/**
  |============================
  | Header styles
  |============================
*/

.header {}

.header-nav {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--brand-color-main);
}
.logo-color {
    color: #4D5AE5;
}

.header-list {}

.header-item {}

.header-link {
    font-weight: 500;
    color: var(--brand-color-main);
}

.header-address {}

.header-address-list {
}

.header-address-link {
    color: #434455;
}
.header-address-link:hover, .header-address-link:focus {
    color: #404BBF;
}

/**
  |============================
  | Hero styles
  |============================
*/

.hero {
    background-color: var(--brand-color-main);
}

.hero-title {
    color: #FFFFFF;
}

.hero-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}
.hero-btn:hover, .hero-btn:focus {
    background-color:#404BBF;
}

/**
  |============================
  | Benefits styles
  |============================
*/
.section {}

.benefits {}

.benefits-title {}

.benefits-list {}

.benefits-list-item {}

.benefits-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}


/**
  |============================
  | What we do styles
  |============================
*/
.section {}

.what-we-do {}

.what-we-do-title {}

.what-we-do-list {}

.what-we-do-list-item {}

/**
  |============================
  | Our team styles
  |============================
*/
.section {}

.team {}

.team-title {}

.team-list {}

.team-list-item {}

.team-list-title {}

/**
  |============================
  | Portfolio styles
  |============================
*/

.portfolio {}

.section {}

.portfolio-title {}

.portfolio-list-btn {}

.portfolio-btn {
    color: #4D5AE5;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-btn:hover, .portfolio-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-list-title {}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
    background-color: var(--brand-color-main);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: #F4F4FD;
    }
    
.footer-text {
    color: #F4F4FD;
}