:root {
    --brand-color-main: #2E2F42;
    --brand-color-submain: #434455;
}

/**
  |============================
  | Reset
  |============================
*/
a {
    text-decoration: none;
    font-style: normal;
}
ul, ol {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    line-height: 1.5;
}

.section {}

/**
  |============================
  | Header styles
  |============================
*/

.header {}

.header-nav {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--brand-color-main);
}
.logo-color {
    color: #4D5AE5;
}

.header-list {}

.header-item {}

.header-link {}

.header-address-list {}

.header-address-link {}

/**
  |============================
  | Hero styles
  |============================
*/

.hero {
    background-color: var(--brand-color-main);
}

.hero-title {
    color: #FFFFFF;
}

.hero-btn {}

/**
  |============================
  | Benefits styles
  |============================
*/
.section {}

.benefits {}

.benefits-title {}

.benefits-list {}

.benefits-list-item {}

.benefits-item-title {}

/**
  |============================
  | What we do styles
  |============================
*/
.section {}

.what-we-do {}

.what-we-do-title {}

.what-we-do-list {}

.what-we-do-list-item {}

/**
  |============================
  | Our team styles
  |============================
*/
.section {}

.team {}

.team-title {}

.team-list {}

.team-list-item {}

.team-list-title {}

/**
  |============================
  | Portfolio styles
  |============================
*/

.portfolio {}

.section {}

.portfolio-title {}

.portfolio-list-btn {}

.portfolio-btn {}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-list-title {}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
    background-color: var(--brand-color-main);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: #F4F4FD;
    }
    
.footer-text {
    color: #F4F4FD;
}